.welcoming {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background: radial-gradient(178.75% 820.98% at -76.91% 53.65%, #FFFFFF 29.69%, rgba(56, 62, 129, 0.63) 64.58%, #383E81 99.99%, #383E81 100%);
    grid-gap: 4rem;
    padding: 5rem;
}

.wave {
    background: radial-gradient(178.75% 820.98% at -76.91% 53.65%, #FFFFFF 29.69%, rgba(56, 62, 129, 0.63) 64.58%, #383E81 99.99%, #383E81 100%);
}

.welkiri h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 50px;
    color: white;
}

.welkiri p {
    font-family: 'Poppins';
    font-style: normal;
    width: 638px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 60px;
    color: white;
}

.welkiri .login {
    margin-right: 7px;
    width: 120px;
    height: 55px;
    background: #282C54;
    border-radius: 50px;
    border: #282C54 3px solid;
    color: white;
}

.welkiri .register {
    width: 120px;
    height: 55px;
    border: 3px solid #282C54;
    border-radius: 50px;
}

.welkiri .login:hover,
.welkiri .register:hover {
    top: -4px;
    transform: scale(1.07);
    font-weight: 700;
}

#aboutus h2 {
    margin-top: 30px;
    text-align: center;
    letter-spacing: 0.055em;
    font-weight: 600;
    font-size: 32px;
}

#aboutus p {
    text-align: center;
    letter-spacing: 0.02em;
    padding: 50px 90px 90px 90px;
    font-weight: 300;
    font-size: 20px;
    line-height: 169%;
}

/* .container-misi {
    background-image: url(image/slide2.png);
    background-size: cover;
    color: white;
} */

.covervisi {
    background: linear-gradient(180deg, rgba(56, 62, 129, 0.75) 0%, rgba(56, 62, 129, 0.4725) 58.85%, rgba(221, 222, 231, 0.75) 100%);
}

.container-misi h2 {
    color: white;
    font-weight: 600;
    font-size: 32px;

}

.container-misi p {
    color: white;
    font-size: 20px;
    line-height: 169.5%;
    margin: 50px;
}

.layanan {
    text-align: center;
    align-items: center;
    box-shadow: 9px 12px 20px rgba(93, 95, 98, 0.3);
}

#fasilitas .layanan:hover {
    transition: all 0.2s ease-out;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    top: -4px;
    border: 1px solid #cccccc;
    background-color: white;
    transform: scale(1.05);
    background-color: rgb(240, 240, 240);
}

.gridlayanan {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: min-content;
    grid-gap: 3rem;
    padding: 3rem 6rem;
}

.imgkamar {
    margin-top: 20px;
    border-radius: 100%;
}

.layanan h5 {
    font-weight: 700;
    color: rgb(4, 4, 92);
}

.layanan p {
    color: rgb(130, 130, 142);
}